$color_title: #333;
@function pxToVw($px) {
   @return $px/750*100*2vw;
}

body {
  margin: 0;
}

#mm-course-list {
  background-color: #fff;
  padding: 10px 15px 10px 0;
  margin-left: 15px;
  display: flex;

  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  img {
    flex: 1 0 120px;
    height: 70px;
    background-color: #ccc;
  }

  dl {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;

    dt {
      color: $color_title;
      font-size: 14px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }

    dd {
      -webkit-margin-start: 0;
      font-size: 10px;
      color: #999;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        display: flex;
        align-items: center;
      }

      em {
        color: #f95c25;
        font-size: 16px;
      }
    }
  }
}
@supports(font-size:1vw) {
  #mm-course-list {
    padding: pxToVw(10) pxToVw(15) pxToVw(10) 0;
    margin-left: pxToVw(15);

    &:not(:last-child) {
      border-bottom: pxToVw(1) solid #ccc;
    }

    img {
      flex-basis: pxToVw(120);
      height: pxToVw(70);
    }

    dl {
      padding-left: pxToVw(10);

      dt {
        font-size: pxToVw(14);
      }

      dd {
        font-size: pxToVw(10);

        em {
          font-size: pxToVw(16);
        }
      }
    }
  }
}
