@function pxToVw($px) {
   @return $px/750*100*2vw;
}

#mm-save-dailog {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s;

  &.show {
    opacity: 1;
    transition: opacity 0.3s;
  }

  .result {
    width: 80%;
    background-color: #fff;
    border-radius: 15px;
    margin: 50% auto auto;
    padding: 30px 0 15px;

    span {
      font-size: 14px;
      color: #333;
      padding: 10px 0 0;
    }

    span,
    time {
      display: block;
      text-align: center;
    }

    time {
      font-size: 10px;
      color: #999;
      letter-spacing: 3px;
    }

    i {
      width: 50px;
      height: 50px;
      display: block;
      margin: auto;
      background: {
        size: cover;
        image: url("./img/success.png");
      }
    }
  }
}
@supports(font-size:1vw) {
  #mm-save-dailog {
    .result {
      border-radius: pxToVw(15);
      padding: pxToVw(30) 0 pxToVw(15);

      span {
        font-size: pxToVw(14);
        padding: pxToVw(10) 0 0;
      }

      time {
        font-size: pxToVw(10);
        letter-spacing: pxToVw(3);
      }

      i {
        width: pxToVw(50);
        height: pxToVw(50);
      }
    }
  }
}
