{
  "presets": [
    ["es2015", {
      "modules": false
    }],
  ],
  "plugins": [
    ["component", [{
      "libraryName": "..",
      "style": true,
    }]],["transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }]
  ]
}
