@import '../default.scss';

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.mm-confirm-x {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);

    dl {
        background-color: #fff;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 35% 37px;
        border-radius: 10px;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        color: #282828;
        text-align: center;

        dt {
            padding: 40px 20px;
            width: 100%;
            @include border_s($bottom:1px);
            font-size: 18px;
        }

        dd {
            height: 50px;
            -webkit-margin-start: 0;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
        }

        dd:first-of-type {
            @include border_s($right:1px);
        }
    }
}
@supports(font-size:1vw) {
    .mm-confirm-x {
        dl {
            margin: 35% pxToVw(37);
            border-radius: pxToVw(10);

            dt {
                padding: pxToVw(40) pxToVw(20);
                font-size: pxToVw(18);
            }

            dd {
                height: pxToVw(50);
                font-size: pxToVw(14);
            }
        }
    }
}
